<h1>トップページ</h1>
  <% @tweets.each do |tweet| %>
    <div>
      <div>
        投稿日時：<%= tweet.created_at %>
      </div>
      <div>
        <%= tweet.text %>
      </div>
    </div>
  <% end %>

<div class="containar">
    <aside>
        <div class="side-area">
            <div class="side-box">
                <h3>Menu</h3>
                <ul>
                    <li><a href="./index.html">ホーム</a></li>
                    <li><a href="./intro.html">ごあいさつ</a></li>
                    <li><a href="./schedule-top.html">スケジュール</a></li>
                    <li><a href="./lesson-top.html">お稽古のご案内</a></li>
                    <li><a href="./access.html">アクセス</a></li>
                    <li><a href="./blog-top.html">ブログ</a></li>
                </ul>
            </div>
            <div class="side-box">
                <h3>Popular Posts</h3>
                <ul>
                    <li><a href="./blog20230611.html">伝授式（師範令）</a></li>
                    <li><a href="./blog20230514.html">伝授式（初・中）</a></li>
                    <li><a href="./blog20230305.html">研究会（春）</a></li>
                    <li><a href="./blog20230219.html">勉強会（春）</a></li>
                    <li><a href="./blog20230108.html">2023 初釜</a></li>
                </ul>
            </div>
        </div>
    </aside>

    <main>
        <article class="home">
            <img src="./images/concept-top.jpeg" alt="">
            <p class="home-title">
                Enjoy ! Tea Time !!
            </p>
        </article>

        <article class="post-home">
            <div class="post-title">
                <h2><a href="./lesson-top.html">【急募】お稽古に参加してみませんか？</a></h2>
            </div>
            <div class="post-thumb">
                <img class="post-img" src="./images/concept06.jpeg" alt="">
            </div>
            <p class="post-desc">
                お茶のお稽古をしてみませんか？「カルチャースクール」のような擬似的なものではなく、本格的なお茶室で、本格的なお点前を習ってみませんか？<strong style="color: red;">安心してください！！</strong>基本的にゆる〜い感じでやっていますので！
            </p>
            <p class="btn"><a href="./lesson-top.html">詳細はこちら</a></p>
        </article>

        <article class="post-home">
            <div class="post-title">
                <h2><a href="./news2.html">【お知らせ】総会の開催</a></h2>
            </div>
            <p class="post-desc">
                2023/07/09（日）総会を開催します。<br>
                上半期の直門下生の締めくくりの会となります。<br>
                夏休みですね〜
            </p>
            <p class="btn"><a href="./news2.html">詳細はこちら</a></p>
        </article>

        <article class="post-home">
            <div class="post-title">
                <h2><a href="./news.html">【お知らせ】勉強会（夏）の開催</a></h2>
            </div>
            <p class="post-desc">
                2023/07/02（日）夏の勉強会を開催します。<br>
                お弟子さんを取っている「教授」の方たちへの勉強会です。
            </p>
            <p class="btn"><a href="./news.html">詳細はこちら</a></p>
        </article>

        <article class="post-home">
            <div class="post-title">
                <h2><a href="./blog20230611.html">【ブログ】伝授式（師範令）を開催しました。</a></h2>
            </div>
            <div class="post-thumb">
                <p class="post-date"><span>2023</span>6/11</p>
                <img class="post-img" src="./images/20230611-05.JPG" alt="">
            </div>
            <p class="post-desc">
                師範令の伝授式を執り行いました。真台子、乱飾り、ともに素晴らしいお点前でした！さすがの貫禄のお点前に、お家元も後見の方も脱帽！？
            </p>
            <p class="btn"><a href="./blog20230611.html">続きを読む</a></p>
        </article>
    </main>
</div>