<main>
  <div class="access">
    <h1>Access</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.9398944051586!2d139.7261466514941!3d35.70309668009218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cfecbaa404d%3A0x6b08751faa790dac!2z44CSMTYyLTA4NTIg5p2x5Lqs6YO95paw5a6_5Yy65Y2X5qaO55S677yX!5e0!3m2!1sja!2sjp!4v1681010316554!5m2!1sja!2sjp" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <table>
      <tr>
        <th><a>交通</a></th>
        <td>
          <ul>
            <li><a>牛込柳町駅（東口）より徒歩8分</a></li>
            <li><a style="font-size: .7rem;">※都営地下鉄：大江戸線</a></li>
          </ul>
          <ul>
            <li><a>神楽坂駅（2番出口）より徒歩8分</a></li>
            <li><a style="font-size: .7rem;">※東京メトロ：東西線</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>住所</a></th>
        <td>
          <ul>
            <li><a style="font-size: .8rem;">〒162-0852</a></li>
            <li><a style="font-size: .8rem;">東京都新宿区南榎町7</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>電話</a></th>
        <td>
          <ul>
            <li>
              <p>03-3269-3835</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</main>