<main>
  <div class="schedule">
    <h1>Schedule</h1>
    <ul class="lesson-nav">
      <li><a href="./schedule202307.php">2023　7月</a></li>
      <li><a href="./schedule202308.php">2023　8月</a></li>
      <li><a href="./schedule202309.php">2023　9月</a></li>
    </ul>
  </div>
</main>