<main>
  <div class="lesson">
    <h1>お稽古のご案内</h1>
    <ul class="lesson-nav">
      <li><a href="./lesson-price.php">料金</a></li>
      <li><a href="./lesson-days.php">稽古日</a></li>
      <li><a href="./lesson-bring.php">持参物</a></li>
      <li><a href="./lesson-events.php">各種行事</a></li>
      <li><a href="./lesson-rest.php">休会</a></li>
    </ul>
  </div>
</main>