<main>
  <div class="lesson event">
    <h1>お稽古のご案内</h1>
    <div class="lesson-topbox">
      <h2>各種行事</h2>
      <ul>
        <li class="lesson-btn"><%= link_to '料金', lesson_price_index_path %></li>
        <li class="lesson-btn"><%= link_to '稽古日', lesson_days_path %></li>
        <li class="lesson-btn"><%= link_to '持参物', lesson_bring_index_path, data: { turbo: false } %></li>
        <li class="lesson-btn"><%= link_to '休会', lesson_rest_index_path %></li>
      </ul>
    </div>
    <table>
      <tr>
        <th><a>渭白会</a></th>
        <td>
          <ul>
            <li><a>場所　：護国寺境内茶室（文京区）</a></li>
            <li><a>参加者：全員</a></li>
            <li><a>日程　：毎年1回（不定期）</a></li>
            <li><a>時間　：8:00 〜 15:00</a></li>
            <li><a>費用　：12,000円</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>初釜</th>
        <td>
          <ul>
            <li><a>場所　：家元道場（稽古場）</a></li>
            <li><a>参加者：全員</a></li>
            <li><a>日程　：毎年1月の第2日曜日</a></li>
            <li><a>時間　：10:00 〜 13:00</a></li>
            <li><a>費用　：24,000円</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>総会</th>
        <td>
          <ul>
            <li><a>場所　：家元道場（稽古場）</a></li>
            <li><a>参加者：全員</a></li>
            <li><a>日程　：毎年7月の第2 or 3日曜日</a></li>
            <li><a>時間　：10:00 〜 14:00</a></li>
            <li><a>費用　：6,000円</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>納会</th>
        <td>
          <ul>
            <li><a>場所　：家元道場（稽古場）</a></li>
            <li><a>参加者：全員</a></li>
            <li><a>日程　：毎年12月の第2 or 3日曜日</a></li>
            <li><a>時間　：10:00 〜 13:00</a></li>
            <li><a>費用　：6,000円</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>研究会</th>
        <td>
          <ul>
            <li><a>場所　：家元道場（稽古場）</a></li>
            <li><a>参加者：師範以上</a></li>
            <li><a>日程　：毎年4回程度（不定期）</a></li>
            <li><a>時間　：10:30 〜 14:00</a></li>
            <li><a>費用　：6,000円</a></li>
          </ul>
        </td>
      </tr>
    </table>
    <div class="notice">
      <ul>
        <li><a>※ 諸経費（水屋費など）を含みます</a></li>
      </ul>
    </div>
  </div>
  <div class="coment">
    <p>
      基本的には、毎週ひっそりと少人数でお稽古しながらミニティーパーティーみたいなことやって過ごしたいです。<br>
      しかし、やはりメリハリも少しはあったほうがいいのかもしれません。いつものお稽古の成果を発表する場があったほうがいいのかもしれません。<br>
      ということで、節目には上記のような行事を執り行っています。<br>
      渭白会以外は、当流の方しかいませんが、渭白会は外部からお客様などを多数ご招待して大々的に開催しています。毎年300人程度ってところです。緊張するよ〜
    </p>
  </div>
</main>